body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

body.light-mode {
    background-color: #f0f0f0;
    color: #000000;
}

.container {
    text-align: center;
    background-color: #1e1e1e;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

body.light-mode .container {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#switch-mode-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#switch-mode-button:hover {
    background-color: #0056b3;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.game {
    margin-top: 20px;
}

#game-button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#game-button:hover {
    background-color: #218838;
}

.tic-tac-toe {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.player-choice {
    margin-bottom: 20px;
}

.player-choice button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.player-choice button:hover {
    background-color: #0056b3;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    color: black;
}

.cell.x {
    color: #ff0000;
}

.cell.o {
    color: #00ff00;
}

#restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #c82333;
}
